.burbuja {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    opacity: .3;
    position: absolute;
    bottom: -150;
    left: 5%;
    animation: burbujas 3s linear infinite;
}

.burbuja:nth-child(1) {
    width: 3em;
    height: 3em;
    background: blue;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbuja:nth-child(2) {
    width: 3.5em;
    height: 3.5em;
    background: cyan;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.burbuja:nth-child(3) {
    width: 1em;
    height: 1em;
    background: rebeccapurple;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 4s;
}

.burbuja:nth-child(4) {
    width: 2em;
    height: 2em;
    background: green;
    left: 45%;
    animation-duration: 4s;
    animation-delay: 2s;
}

.burbuja:nth-child(5) {
    width: 3em;
    height: 3em;
    background: blue;
    left: 57%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.burbuja:nth-child(6) {
    width: 3.5em;
    height: 3.5em;
    background: cyan;
    left: 6%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbuja:nth-child(7) {
    width: 1.5em;
    height: 1.5em;
    background: rebeccapurple;
    left: 63%;
    animation-duration: 5s;
    animation-delay: 3s;
}

.burbuja:nth-child(8) {
    width: 2.5em;
    height: 2.5em;
    background: green;
    left: 33%;
    animation-duration: 4s;
    animation-delay: 3s;
}

.burbuja:nth-child(9) {
    width: 3em;
    height: 3em;
    background: cyan;
    left: 60%;
    animation-duration: 3s;
    animation-delay: 4s;
}

.burbuja:nth-child(10) {
    width: 2.5em;
    height: 2.5em;
    background: green;
    left: 85%;
    animation-duration: 5s;
    animation-delay: 2s;
}

@keyframes burbujas {
    0% {
        bottom: 0;
        opacity: 0;
    }

    30% {
        transform: translateX(1em);
    }

    50% {
        opacity: 0.8;
    }

    100% {
        bottom: 100vh;
        opacity: 0;
    }
}

.mensaje-final {
    font-size: 3em;
    color: rgb(228, 143, 47);
    display: flex;
    justify-content: center;
    z-index: 0;
}
