body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url(../imagenes/acero-puntitos.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    z-index: 0;
}

@media only screen and (max-width: 990px) {
    html {
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 750px) {
    html {
        font-size: 0.5em;
    }
}

@media only screen and (max-width: 680px) {
    html {
        font-size: 0.33em;
    }
}

.container {
    width: 80em;
    height: 50em;
    margin: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.contenido {
    width: 75em;
    height: 45em;
    justify-content: center;
    border-radius: 10%;
    color: wheat;
}

.titulo-juego {
    font-size: 5em;
    color: rgb(228, 143, 47);
    display: flex;
    justify-content: center;
}

.siguiente {
    width: 15em;
    height: 3em;
    margin-bottom: 2em;
    border-radius: 10%;
    background-color: rgb(228, 143, 47);
    display: flex;
    justify-content: center;
    align-items: center;
}

.zonaColores {
    width: 80em;
    height: 5em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.lineaJugada {
    width: 80em;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja {
    width: 7em;
    height: 4em;
    border-radius: 20%;
}

.muestra-colores {
    color: rgb(233, 207, 75);
}

.bola-juego {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: white;
    box-shadow: rgb(241, 241, 126) 0px 0px 10px;
}

.punto-comprobacion {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: white;
    border-style: solid;
    border-color: yellow;
    box-shadow: rgb(241, 241, 126) 0px 0px 10px;
}

.color-seleccionado {
    width: 4em;
    height: 4em;

    border-radius: 50%;
    box-shadow: rgb(241, 241, 126) 0px 0px 10px;
}

#comprobar {
    width: 8em;
    height: 4em;

    border-radius: 40%;
    background-color: rgb(245, 116, 24);
    color: blue;
}

.mensaje-error {
    width: 80em;
    height: 5em;
    font-size: 1em;
    color: yellow;
}

.burbuja {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    opacity: .3;
    position: absolute;
    bottom: -150;
    left: 5%;
    animation: burbujas 3s linear infinite;
}

.burbuja:nth-child(1) {
    width: 3em;
    height: 3em;
    background: blue;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbuja:nth-child(2) {
    width: 3.5em;
    height: 3.5em;
    background: cyan;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.burbuja:nth-child(3) {
    width: 1em;
    height: 1em;
    background: rebeccapurple;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 4s;
}

.burbuja:nth-child(4) {
    width: 2em;
    height: 2em;
    background: green;
    left: 45%;
    animation-duration: 4s;
    animation-delay: 2s;
}

.burbuja:nth-child(5) {
    width: 3em;
    height: 3em;
    background: blue;
    left: 57%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.burbuja:nth-child(6) {
    width: 3.5em;
    height: 3.5em;
    background: cyan;
    left: 6%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbuja:nth-child(7) {
    width: 1.5em;
    height: 1.5em;
    background: rebeccapurple;
    left: 63%;
    animation-duration: 5s;
    animation-delay: 3s;
}

.burbuja:nth-child(8) {
    width: 2.5em;
    height: 2.5em;
    background: green;
    left: 33%;
    animation-duration: 4s;
    animation-delay: 3s;
}

.burbuja:nth-child(9) {
    width: 3em;
    height: 3em;
    background: cyan;
    left: 60%;
    animation-duration: 3s;
    animation-delay: 4s;
}

.burbuja:nth-child(10) {
    width: 2.5em;
    height: 2.5em;
    background: green;
    left: 85%;
    animation-duration: 5s;
    animation-delay: 2s;
}

@keyframes burbujas {
    0% {
        bottom: 0;
        opacity: 0;
    }

    30% {
        transform: translateX(1em);
    }

    50% {
        opacity: 0.8;
    }

    100% {
        bottom: 100vh;
        opacity: 0;
    }
}

.mensaje-ganador {
    font-size: 3em;
    color: rgb(228, 143, 47);
    display: flex;
    justify-content: center;
    z-index: 0;
}
